<div id="navbar"></div>
<div class="container content-container">
  <div id="navbar-buffer"></div>
  <div id="main"></div>
  <div id="footer">
    <hr />
  </div>
</div>
 
<script type="text/javascript" charset="utf-8">
  React.render(
    React.createElement(TodoList, {}, ""),
    document.querySelector('#root')
  );
</script>
