<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav pull-left">
        <li><a href="/session/new"> Healthbook </a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <form id="inline_form" class="form-inline" action="<%= session_url %>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

          <div class="form-group">
            <label class="sr-only" for="user_user_name">User Name</label>
            <input type="text" class="form-control input-sm" id="user_user_name" name="user[user_name]" placeholder="User Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="user_password">Password</label>
            <input type="password" class="form-control input-sm" id="user_password" name="user[password]" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default btn-sm">Sign in</button>
        </form>
      </ul>
    </div>

  </div>
</nav> -->

<nav class="navbar navbar-bottom">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</div>
</nav>
