#betterdoctor {
  width: 300px;
  height: 600px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}

#doctorform {
  padding: 10px;
}

#htapWidgetAskdoc {
  display: inline-block;
}
