#betterdoctor {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  overflow: scroll;
}

.instructions {
  text-align: left;
}

#widgets {
  float: right;
  margin: 15px;
}

#form-posts {
  float: left;
  margin: 25px;
}

#htapwidget {
}

#doctorform {
  padding: 10px;
}

#doctorfind {
  right: 20px;
}
