#searchresults {
  position: absolute;
  top: 42px;
  left: 18px;
  color: black;
  background-color: inherit;
  z-index: 300;
}

#searchbar {
  position: relative;
}

#searchbutton {
  color: white;
}

.grey {
  color: grey;
}

#searchresult {
  display: block;
  width: 230px;
  color: black;
  background-color: white;
  text-align: left;
}

#searchresult:hover {
  display: block;
  width: 230px;
  color: white;
  background-color: #3a5795;
  text-align: left;
}