#searchresults {
  position: absolute;
  top: 42px;
  left: -25px;
  color: black;
  background-color: inherit;
}

#searchbar {
  position: relative;
}

#searchresult {
  display: block;
  width: 178px;
}
