#dLabel {
  color: white;
}
#status-post{
  width: 500px;
  border: 1px solid black;
  margin: auto;
  position: relative;
}

.new-post {
  padding: 30px;
}

.list-group {
  width: 500px;
  margin: auto;
}

.list-group-item {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.small-prof-pic {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  margin: 5px;
}

#namephoto {
  float:left;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


.container-fluid {
  background-color: #3a5795;
}

#homepage1 {
  color: black;
}

#homepage2, #homepage3, #homepage4, #homepage5, #homepage6 {
  color: white;
}

ul li a:hover {
  color: bold;
}
